VITE_TELEGRAM_API_ID=
VITE_TELEGRAM_API_HASH=
VITE_TDLIB_LOG_VERBOSITY=2
VITE_TELETON_AGENT_WS_URL=ws://localhost:8765
VITE_TELETON_AGENT_MANAGEMENT_URL=https://localhost:7778
VITE_TONCONNECT_MANIFEST_URL=/tonconnect-manifest.json
